{% for pool in chrony_pools %}
pool {{ pool.name }}{% for option in pool|difference('name') %}{% if pool[option] != False %} {{ option }}{% if pool[option] != True %} {{ pool[option] }}{% endif %}{% endif %}{% endfor %}
{% endfor %}
{% for server in chrony_servers %}
server {{ server.name }}{% for option in server|difference('name') %}{% if server[option] != False %} {{ option }}{% if server[option] != True %} {{ server[option] }}{% endif %}{% endif %}{% endfor %}
{% endfor %}
{% for peer in chrony_peers %}
peer {{ peer.name }}{% for option in peer|difference('name') %}{% if peer[option] != False %} {{ option }}{% if peer[option] != True %} {{ peer[option] }}{% endif %}{% endif %}{% endfor %}
{% endfor %}
